h1{
    margin: 1px;
/*    padding: 1px;*/
}

table {
    margin-left: auto;
    margin-right: auto;
}

.info {
    text-align: center;
    background-color: azure;
    border: solid red;
}

#puntuaciones {
    text-align: center;
}

.vacio {
    background-image: url("../img/vacio.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 32px;    
    height: 32px;
}

.fragata {
    background-image: url("../img/fragata.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 32px;    
    height: 32px;
}

.buque {
    background-image: url("../img/buque.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 32px;    
    height: 32px;
}

.submarino {
    background-image: url("../img/submarino.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 32px;    
    height: 32px;
}

.destructor {
    background-image: url("../img/detructor.gif");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 32px;    
    height: 32px;
}

.portaaviones {
    background-image: url("../img/portaaviones.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 32px;    
    height: 32px;
}

#partida {
    background-image: url("../img/fondo.jpg");
    background-repeat:no-repeat;
}